services:
  app:
    image: reggiodigital/wishlist:latest
    container_name: wishlist
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - ADMIN_USERNAME=${ADMIN_USERNAME:-admin}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD:-changeme}
    volumes:
      - /folder-for-wishlist-data:/app/data
